@model g212102053_mehmet_kaan_akcan_odev.Models.Siniflar.User
@{
    ViewBag.Title = "UserUpdate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Oyuncu Güncelle</h2>
<br />
@using (Html.BeginForm("Update", "AdminUser", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.UserID)
        <label>Kullanıcı Adı</label>
        @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(x => x.UserName, "", new { @style = "color:red" })
        <br />
        <label>Tam Ad</label>
        @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(x => x.FullName, "", new { @style = "color:red" })

        <br />
        <label>Email</label>
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(x => x.Email, "", new { @style = "color:red" })
        <br />
        <label>Yetki Karakteri</label>
        @Html.TextBoxFor(x => x.Authorization, new { @class = "form-control", @required = "required" })
        @Html.ValidationMessageFor(x => x.Authorization, "", new { @style = "color:red" })
        <br />
        <button class="btn btn-warning">Güncelle</button>
    </div>
}
